/* YOUR STYLE GOES IN HERE */

h1 {
    color: green;
    text-align: center;
}

h2 {
    color: magenta;
}

p {
    color: white;
    background-color: black;
    padding: 20px;
}
p:nth-of-type(2) {
    background-color: yellow;
    color: black;
}

button {
    color: red;
    background-color: pink;
    width: 100px;
    height: 40px;
}
button:hover {
    background-color: red;
    color: white;
}